@using System.Security.Claims

<MudSpacer />
<Search />
<MudSpacer />
<AuthorizeView>
    <NotAuthorized>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/account/login" Class="mr-3">Log in</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/account/register">Register</MudButton>
    </NotAuthorized>
    <Authorized>
        @{
        var username = context.User.FindFirstValue(ClaimTypes.Name);
        }
        <MudMenu Label="@username" Variant="Variant.Filled" Color="Color.Primary" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter">
            <AuthorizeView Roles="Admin" Context="adminContext">
                <Authorized>
                    <MudMenuItem Href="@($"admin-request-center")">Admin</MudMenuItem>
                </Authorized>
            </AuthorizeView>
            <MudMenuItem Href="@($"user/{username}")">My profile</MudMenuItem>
            <MudMenuItem Href="@($"movie-collections/{username}")">My collections</MudMenuItem>
            <MudMenuItem Href="@($"community-collections/")">Community collections</MudMenuItem>
            <MudMenuItem Href="@($"friends/")">Friends</MudMenuItem>
            <MudMenuItem Href="@($"request-center")">Movie Request Center</MudMenuItem>
            <MudMenuItem>
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" />
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Error" FullWidth="true" DropShadow="false">
                        Sign Out
                    </MudButton>
                </form>
            </MudMenuItem>
        </MudMenu>
    </Authorized>
</AuthorizeView>