<MudSpacer />
<MudBlazor.StaticInput.MudStaticTextField T="string"
Label="Search"
Variant="Variant.Outlined"
Adornment="Adornment.End"
AdornmentIcon="@Icons.Material.Filled.Search"
AdornmentColor="Color.Primary" />
<MudSpacer />
<AuthorizeView>
    <NotAuthorized>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/account/login" Class="mr-3">Log in</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/account/register">Register</MudButton>
    </NotAuthorized>
    <Authorized>
            <MudMenu Label="@username" Variant=Variant.Filled Color="Color.Primary" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter">
                <MudMenuItem Href="@($"user/{username}")">My profile</MudMenuItem>
                <MudMenuItem Href="@($"movie-collections/{username}")">My collections</MudMenuItem>
                <MudMenuItem Href="@($"community-collections/")">Community collections</MudMenuItem>
                <MudMenuItem Href="@($"friends/")">Friends</MudMenuItem>
                <MudMenuItem>Inbox</MudMenuItem>
                <MudMenuItem>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" />
                        <button type="submit">
                            Logout
                        </button>
                    </form>
                </MudMenuItem>
            </MudMenu>
    </Authorized>

</AuthorizeView>
@code
{
    [CascadingParameter] public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    private string username = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        if (authState.User.Identity.IsAuthenticated)
        {
            username = authState.User.Identity.Name!;
        }
    }
}