@page "/trending"
@using Services
@using s20601.Data.Models.DTOs
@inject IMovieService MovieSvc

<MudText Class="py-6" Typo="Typo.h4">Trending movies</MudText>
<MudGrid>
    @if (topMoviesByRating is null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var movie in topMoviesByRating)
        {
            <MudItem>
                <MudCard>
                    <MudImage Src="favicon.png"
                              ObjectFit="ObjectFit.None"
                              Alt="Movie poster"
                              Elevation="0"
                              Height="300"
                              Width="280" />
                    <MudCardContent>
                        <MudStack>
                            <MudText Typo="Typo.h6" Align="Align.Center">
                                @movie.Title
                                <MudText Typo="Typo.subtitle2">(@movie.StartYear) @(movie.Runtime / 60) hours @(movie.Runtime % 60) minutes</MudText>
                            </MudText>

                            <MudDivider />
                            <MudStack Row="true" Class="justify-center">
                                <MudRating SelectedValue="@((int)Math.Round(movie.Rating))" Size="Size.Small" />
                                <MudText Typo="Typo.subtitle2">@Math.Round(movie.Rating, 1)</MudText>
                                <MudText Typo="Typo.subtitle2">(@movie.RateCount)</MudText>
                            </MudStack>
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    }

</MudGrid>

@code {
    List<GetTopMovieByRating> topMoviesByRating = null!;

    protected override async Task OnInitializedAsync()
    {
        topMoviesByRating = await MovieSvc.GetTopMoviesByRatingAsync(100);
    }
}