@page "/user/{username}"

@using System.Security.Claims
@using s20601.Components.Common.Components
@using s20601.Components.Friends.Components
@using s20601.Services
@using s20601.Data.Models
@using s20601.Data.Models.DTOs

@inject IUserService UserSvc
@inject IRatingService RatingSvc
@inject IMovieCollectionService MovieCollectionSvc
@inject IFriendService FriendSvc

<AuthorizeView>
    <MudContainer MaxWidth="MaxWidth.Medium">
        @if (_loading)
        {
            <MudProgressLinear Color="Color.Default" Indeterminate="true"/>
        }
        else
        {
            <MudStack Row="true" AlignItems="AlignItems.Start">
                <MudImage Src="favicon.png"
                          ObjectFit="ObjectFit.ScaleDown"
                          Alt="User avatar"
                          Elevation="1"
                          Height="200"
                          Width="180">
                </MudImage>
                <MudStack AlignItems="AlignItems.Start" Spacing="0">
                    <MudText Typo="Typo.h5">@Username</MudText>
                    <MudText Typo="Typo.subtitle1">points @_user.ReputationPoints</MudText>
                    <MudText Typo="Typo.subtitle2">Joined: @_user.CreatedAt.ToShortDateString()</MudText>
                    <MudText Typo="Typo.body1"
                             Class="mt-3 mb-3">@(_user.ProfileDescription ?? "No description available.")</MudText>
                </MudStack>
                <MudSpacer/>

                @if (_isLoggedInUser)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Settings"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Size="Size.Small"/>
                }
                else if (_relationshipType == RelationshipType.Friends)
                {
                    <MessageFriend />
                    <FriendButton FriendId="@_user?.Id" OnFriendshipChange="RefreshRelationshipStatus"/>
                }
                else
                {
                    <FriendButton FriendId="@_user?.Id" OnFriendshipChange="RefreshRelationshipStatus"/>
                }


            </MudStack>
        
        <MudStack Class="mt-9 mb-3 d-flex" Row="true">
            <MudText Class="mt-3" Typo="Typo.h6" Style="width: 100%;">Statistics</MudText>
            <MudSpacer/>
            <MudDatePicker Style="align-content: center"
                           @ref="_picker"
                           @bind-Date="_month"
                           MinDate="_minDate"
                           MaxDate="_maxDate"
                           ShowToolbar="false"
                           AutoClose="true"
                           OpenTo="OpenTo.Month"
                           FixDay="@DateTime.Today.Day"
                           DateFormat="yyyy"
                           Color="Color.Primary">

                
                @* <PickerActions Context="MudDatePicker"> *@
                @*     <MudButton Class="mr-auto align-self-end" OnClick="AllYears">All years</MudButton> *@
                @* </PickerActions> *@
            </MudDatePicker>
        </MudStack>

        <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.Center">
            @if (_ratingData.Length == 0)
            {
                @code
                {
                    private string[] emptyLabel = new string[] { "No ratings yet" };

                    private ChartOptions emptyChartOptions = new ChartOptions
                    {
                        ShowToolTips = false,
                        ChartPalette = new string[] { "#B0B0B0", "#B0B0B0", "#B0B0B0" }
                    };
                }
                <MudChart ChartType="ChartType.Pie" LegendPosition="Position.Bottom" Width="200px" Height="200px"
                          InputData="new double[] {1}" InputLabels='@emptyLabel' ChartOptions="@emptyChartOptions">
                </MudChart>
            }
            else
            {
                <MudChart ChartType="ChartType.Pie" LegendPosition="Position.Bottom" Width="200px" Height="200px"
                          InputData="@_ratingData" InputLabels="@_labels">
                </MudChart>
            }
            <MudPaper Class="pa-6" Elevation="0">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">Average</MudText>

                @if (_userRatingSummary is null)
                {
                    <MudText Typo="Typo.h4"
                             Align="Align.Center">0</MudText>
                }
                else
                {
                    <MudText Typo="Typo.h4"
                             Align="Align.Center">@(Math.Round(_userRatingSummary.AvgMovieRating, 1))</MudText>
                }
            </MudPaper>
            <MudPaper Class="pa-6" Elevation="0">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">Median</MudText>

                @if (_userRatingSummary is null)
                {
                    <MudText Typo="Typo.h4"
                             Align="Align.Center">0</MudText>
                }
                else
                {
                    <MudText Typo="Typo.h4" Align="Align.Center">
                        @(Math.Round(_userRatingSummary.MedMovieRating, 1))
                    </MudText>
                }
            </MudPaper>
            <MudPaper Class="pa-6" Elevation="0">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">Total ratings</MudText>

                @if (_userRatingSummary is null)
                {
                    <MudText Typo="Typo.h4"
                             Align="Align.Center">0</MudText>
                }
                else
                {
                    <MudText Typo="Typo.h4" Align="Align.Center">@_userRatingSummary.TotalRatings</MudText>
                }
            </MudPaper>
            <MudPaper Class="pa-6" Elevation="0">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">Total reviews</MudText>
                @if (_userRatingSummary is null)
                {
                    <MudText Typo="Typo.h4"
                             Align="Align.Center">0</MudText>
                }
                else
                {
                    <MudText Typo="Typo.h4" Align="Align.Center">@_userRatingSummary.TotalReviews</MudText>
                }
            </MudPaper>
        </MudStack>
        <MudFlexBreak/>
        <MudItem>
            <MudText Class="mt-3" Typo="Typo.h6" GutterBottom="true">Recently updated collections</MudText>
            <MudCarouselWithPagination Items=@_userMovieCollections itemsPerCarousel="3"></MudCarouselWithPagination>
            <div class="d-flex justify-end">
                <MudLink Href="@($"movie-collections/{Username}")">See more...</MudLink>
            </div>
        </MudItem>
            <MudItem>
                <MudText Class="mt-3" Typo="Typo.h6">Recent activity</MudText>
            </MudItem>
        }
    </MudContainer>
 
    @code
    {
        [CascadingParameter] public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

        [Parameter] public required string Username { get; set; }

        private ApplicationUser? _user;
        private UserRatingSummary? _userRatingSummary;
        private List<MovieCollection>? _userMovieCollections;

        private string[] _labels = null!;
        private double[] _ratingData = null!;
        private bool _isLoggedInUser = true;

        private bool _loading;
        private bool _pickerInitialized;

        private RelationshipType? _relationshipType;
        
        
        private DateTime? _month = DateTime.Now;
        private MudDatePicker _picker;
        private DateTime _maxDate = DateTime.Now;
        private DateTime _minDate;

        protected override void OnAfterRender(bool firstRender)
        {
            if (!_pickerInitialized && _picker is not null && _user is not null)
            {
                _minDate = _user.CreatedAt;
                _picker.GoToDate();
                _pickerInitialized = true;
                StateHasChanged();
            }
        }

        @* private async Task AllYears()
            {
            } *@
        
        protected override async Task OnInitializedAsync()
        {
            _loading =  true;
            var authState = await AuthenticationStateTask;
            var user = authState.User;

            if (user.Identity?.IsAuthenticated == true)
            {
                _user = await UserSvc.GetUserByUsernameAsync(Username);
                _userRatingSummary = await RatingSvc.GetUserRatingSummaryAsync(_user.Id);
                var ratingCount = _userRatingSummary.RatingDistribution.Count;

                if (user.Identity.Name != _user.UserName)
                {
                    _isLoggedInUser = false;
                    await RefreshRelationshipStatus();
                }
                    

                _labels = new string[ratingCount];
                _ratingData = new double[ratingCount];

                var index = 0;
                foreach (var rating in _userRatingSummary.RatingDistribution)
                {
                    _labels[index] = rating.RatingValue.ToString() + " stars";
                    _ratingData[index] = rating.Frequency;
                    index++;
                }

                _userMovieCollections = await MovieCollectionSvc.GetNRecentUserMovieColletions(_user.Id, 10);
                _loading = false;
            }
        }

        private async Task RefreshRelationshipStatus()
        {
            var authState = await AuthenticationStateTask;
            var user = authState.User;
            if (user.Identity?.IsAuthenticated == true && _user != null)
            {
                var authenticatedUserId = user.FindFirstValue(ClaimTypes.NameIdentifier);
                _relationshipType = await FriendSvc.GetUsersRelationshipType(authenticatedUserId, _user.Id);
                StateHasChanged();
            }
        }
        
        
    }
</AuthorizeView>
