@using System.ComponentModel.DataAnnotations
@using s20601.Data.Models
@using s20601.Data.Models.DTOs
@using s20601.Services
@using System.Security.Claims

@inject IMovieService MovieSvc
@inject ISnackbar Snackbar

<AuthorizeView>
    <Authorized>
        @{
            var authenticatedUserId = context.User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "";
        }
        <MudDialog>
            <DialogContent>
                <EditForm @ref="_form" Model="@_formModel" OnSubmit="@(() => Submit(authenticatedUserId))" Context="EditFormContext">
                    <DataAnnotationsValidator />
                    <MudStepper @bind-ActiveIndex="_index" @ref="@_stepper">
                        <ChildContent>
                            <MudStep Title="Poster">

                                <MudStack Row="true" Style="width: 100%" AlignItems="AlignItems.Center">

                                    <MudFileUpload T="IBrowserFile" FilesChanged="@(UploadPoster)">
                                        <ActivatorContent>
                                            <MudButton Variant="Variant.Filled"
                                                       Color="Color.Primary">
                                                Upload your poster
                                            </MudButton>
                                        </ActivatorContent>
                                    </MudFileUpload>
                                    @if (_poster != null)
                                    {
                                        <MudChip T="string" Color="Color.Dark" OnClose="@ClearPoster">
                                            @(_poster?.Name)
                                        </MudChip>
                                    }
                                    else
                                    {
                                        <MudChip T="string">No poster uploaded yet</MudChip>
                                    }
                                </MudStack>
                            </MudStep>


                            <MudStep Title="General movie information">
                                <MudStack Spacing="2">
                                    <MudTextField @bind-Value="_formModel.General.Title"
                                                  Label="Title"
                                                  For="@(() => _formModel.General.Title)"
                                                  Immediate="true"
                                                  Counter="1000"/>
                                    <MudTextField @bind-Value="_formModel.General.OriginalTitle"
                                                  Label="Original Title"
                                                  For="@(() => _formModel.General.OriginalTitle)"
                                                  Immediate="true"
                                                  Counter="1000"/>
                                    <MudNumericField @bind-Value="_formModel.General.StartYear"
                                                     Label="Start Year"
                                                     For="@(() => _formModel.General.StartYear)"/>
                                    <MudNumericField @bind-Value="_formModel.General.EndYear"
                                                     Label="End Year"
                                                     For="@(() => _formModel.General.EndYear)"/>
                                    <MudNumericField @bind-Value="_formModel.General.RuntimeMinutes"
                                                     Label="Runtime (minutes)"
                                                     For="@(() => _formModel.General.RuntimeMinutes)"/>
                                    <MudTextField @bind-Value="_formModel.General.TitleType"
                                                  Label="Type"
                                                  For="@(() => _formModel.General.TitleType)"/>

                                    <MudAutocomplete T="Genre"
                                                     Label="Genres"
                                                     @ref="_autocomplete"
                                                     Value="_selectedGenreToAdd"
                                                     ValueChanged="OnGenreSelected"
                                                     SearchFunc="@SearchGenre"
                                                     ToStringFunc="@(g => g?.Name)"
                                                     ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false">
                                        <ItemTemplate Context="genre">
                                            <MudText>
                                                @(genre.Name)
                                            </MudText>
                                        </ItemTemplate>
                                    </MudAutocomplete>
                                    <div class="d-flex flex-wrap mt-2">
                                        @foreach (var genre in _formModel.General.Genres)
                                        {
                                            <MudChip T="Genre" OnClose="@(() => RemoveGenre(genre))">@genre.Name</MudChip>
                                        }
                                    </div>
                                    <MudTextField @bind-Value="_formModel.General.Overview"
                                                  Label="Overview"
                                                  HelperText="What is this movie about? Remember - no spoilers!"
                                                  Lines="3"
                                                  For="@(() => _formModel.General.Overview)"
                                                  Immediate="true"
                                                  Counter="5000"/>
                                    <MudTextField @bind-Value="_formModel.General.Description"
                                                  Lines="2"
                                                  Label="Request description"
                                                  HelperText="Sources on which you base proposed changes. It will help us verify your request faster!"
                                                  For="@(() => _formModel.General.Description)"
                                                  Immediate="true"
                                                  Counter="1000"/>

                                </MudStack>
                            </MudStep>

                            <MudStep Title="Crew">


                                <MudTable Items="@_formModel.Crew.Crew"
                                          Hover="true"
                                          CanCancelEdit="true"
                                          @bind-SelectedItem="@_selectedCrew"
                                          SortLabel="Sort By"
                                          CommitEditTooltip="Commit Edit"
                                          OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))"
                                          RowEditPreview="@BackupItem"
                                          RowEditCancel="@ResetItemToOriginalValues"
                                          RowEditCommit="@ItemHasBeenCommitted"
                                          IsEditRowSwitchingBlocked="false"
                                          ApplyButtonPosition="TableApplyButtonPosition.End"
                                          EditButtonPosition="TableEditButtonPosition.End"
                                          EditTrigger="@TableEditTrigger.EditButton"
                                          Context="MudTableContext">
                                    <ToolBarContent>

                                        <MudStack Row="true" AlignItems="AlignItems.Baseline" Style="width: 100%">
                                            <MudText Typo="Typo.h6">Movie crew</MudText>
                                            <MudAutocomplete T="GetMovieCrewMemberWithDetails"
                                                             Label="Search existing crew"
                                                             Value="_selectedCrewToAdd"
                                                             ValueChanged="OnCrewSelected"
                                                             SearchFunc="@SearchCrew"
                                                             ToStringFunc="@(c => c == null ? null : $"{c.FirstName} {c.LastName} ({c.BirthYear})")"
                                                             ResetValueOnEmptyText="true"
                                                             CoerceText="true"
                                                             CoerceValue="false">
                                                <ItemTemplate Context="crew">
                                                    <MudText>
                                                        @($"{crew.FirstName} {crew.LastName} ({crew.BirthYear})")
                                                    </MudText>
                                                </ItemTemplate>
                                            </MudAutocomplete>
                                            <MudButton StartIcon="@Icons.Material.Filled.Add"
                                                       OnClick=@(() => OnAddCrewMember())>Add new crew member
                                            </MudButton>
                                        </MudStack>

                                    </ToolBarContent>
                                    <HeaderContent>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<CrewMemberModel, object>(x => x.FirstName)">
                                                FirstName
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<CrewMemberModel, object>(x => x.LastName)">LastName
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<CrewMemberModel, object>(x => x.BirthYear)">
                                                BirthYear
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<CrewMemberModel, object>(x => x.DeathYear)">
                                                DeathYear
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<CrewMemberModel, object>(x => x.Job)">Job
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<CrewMemberModel, object>(x => x.CharacterName)">
                                                CharacterName
                                            </MudTableSortLabel>
                                        </MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="First Name">@MudTableContext.FirstName</MudTd>
                                        <MudTd DataLabel="Last Name">@MudTableContext.LastName</MudTd>
                                        <MudTd DataLabel="Birth Year">@MudTableContext.BirthYear</MudTd>
                                        <MudTd DataLabel="Death Year">@MudTableContext.DeathYear</MudTd>
                                        <MudTd DataLabel="Job">@MudTableContext.Job</MudTd>
                                        <MudTd DataLabel="Character Name">@MudTableContext.CharacterName</MudTd>
                                    </RowTemplate>
                                    <RowEditingTemplate>
                                        <MudTd DataLabel="First Name">
                                            <MudTextField @bind-Value="MudTableContext.FirstName" For="@(() => MudTableContext.FirstName)"/>
                                        </MudTd>
                                        <MudTd DataLabel="Last Name">
                                            <MudTextField @bind-Value="MudTableContext.LastName" For="@(() => MudTableContext.LastName)"/>
                                        </MudTd>
                                        <MudTd DataLabel="Birth Year">
                                            <MudNumericField @bind-Value="MudTableContext.BirthYear" For="@(() => MudTableContext.BirthYear)"/>
                                        </MudTd>
                                        <MudTd DataLabel="Death Year">
                                            <MudNumericField @bind-Value="MudTableContext.DeathYear" For="@(() => MudTableContext.DeathYear)"/>
                                        </MudTd>
                                        <MudTd DataLabel="Job">
                                            <MudTextField @bind-Value="MudTableContext.Job" For="@(() => MudTableContext.Job)"/>
                                        </MudTd>
                                        <MudTd DataLabel="Character Name">
                                            <MudTextField @bind-Value="MudTableContext.CharacterName" For="@(() => MudTableContext.CharacterName)"/>
                                        </MudTd>
                                    </RowEditingTemplate>
                                    <PagerContent>
                                        <MudTablePager/>
                                    </PagerContent>
                                    <EditButtonContent Context="button">
                                        <MudIconButton Size="@Size.Small"
                                                       Icon="@Icons.Material.Outlined.Edit"
                                                       Class="pa-0"
                                                       OnClick="@button.ButtonAction"
                                                       Disabled="@button.ButtonDisabled"/>
                                        <MudIconButton Size="@Size.Small"
                                                       Icon="@Icons.Material.Filled.DeleteOutline"
                                                       Class="pa-0"
                                                       OnClick="@(() => OnRemoveCrew((CrewMemberModel)button.Item))"
                                                       Disabled="@button.ButtonDisabled"/>
                                    </EditButtonContent>
                                </MudTable>
                            </MudStep>
                        </ChildContent>
                        <ConnectorTemplate Context="step">
                            <div class="mud-stepper-nav-connector">
                                @{
                                    int value = step.Completed ? 100 : 0;
                                    <MudProgressLinear Striped Value="value"
                                                       Min="0"
                                                       Max="100"
                                                       Color="Color.Primary"
                                                       Style="height: 2px; background-color: #d4ddeb; border-radius: 2px;"/>
                                }
                            </div>
                        </ConnectorTemplate>
                        <LabelTemplate Context="LabelTemplateContext">
                            @if (LabelTemplateContext.IsActive)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.EditLocationAlt" Color="Color.Primary"></MudIcon>
                            }
                        </LabelTemplate>
                        <ActionContent Context="stepper">
                            @if (!_completed)
                            {
                                if (_index > 0)
                                {
                                    <MudButton OnClick="@(() => stepper.PreviousStepAsync())"
                                               StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">
                                        Previous
                                    </MudButton>
                                }

                                <MudSpacer/>
                                @if (_index >= 0 && _index < stepper.Steps.Count && stepper.Steps[_index].Skippable == true)
                                {
                                    <MudButton OnClick="@(() => stepper.SkipCurrentStepAsync())"
                                               EndIcon="@stepper.SkipButtonIcon" Color="Color.Primary">Skip</MudButton>
                                }

                                @if (_index < stepper.Steps.Count - 1)
                                {
                                    <MudButton OnClick="@(() => stepper.NextStepAsync())"
                                               EndIcon="@Icons.Material.Filled.ArrowForward" Color="Color.Primary">Next</MudButton>
                                }
                            }
                        </ActionContent>
                    </MudStepper>
                </EditForm>
            </DialogContent>
            <DialogActions>
                <MudButton OnClick="@(Reset)">Reset</MudButton>
                <MudSpacer/>
                <MudButton OnClick="@Cancel">Cancel</MudButton>
                <MudButton Color="Color.Primary" OnClick="@(() => Submit(authenticatedUserId))">Submit</MudButton>
            </DialogActions>
        </MudDialog>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public Movie? Movie { get; set; }
    
    private bool _success;
    private string[] _errors = [];
    private MudStepper _stepper;
    private MudAutocomplete<Genre> _autocomplete;
    private int _index;
    private bool _completed;

    private MovieRequestFormModel _formModel = new();

    private List<Genre> _allGenres = new();
    private List<Genre> _originalGenres = new();
    private Genre? _selectedGenreToAdd;
    
    
    private List<string> editEvents = new();
    private CrewMemberModel _selectedCrew;
    private CrewMemberModel _selectedCrewBeforeEdit;
    private MudTable<CrewMemberModel> _table;


    private GetMovieCrewMemberWithDetails? _selectedCrewToAdd;

    private IBrowserFile? _poster;
    private MudFileUpload<IBrowserFile>? _fileUpload;
    private MemoryStream? _uploadedFileStream;
    
    protected override async Task OnInitializedAsync()
    {
        _allGenres = await MovieSvc.GetAllGenresAsync();
        await LoadMovieDataAsync();
    }

    private async Task Reset()
    {
        _form = new EditForm();
        await _stepper.ResetAsync();
        await LoadMovieDataAsync();
    }

    private async Task LoadMovieDataAsync()
    {
        if (Movie is null)
        {
            Movie = new Movie();
        }

        _formModel = new MovieRequestFormModel();
        _formModel.General.Title = Movie.Title;
        _formModel.General.OriginalTitle = Movie.OriginalTitle;
        _formModel.General.StartYear = Movie.StartYear;
        _formModel.General.EndYear = Movie.EndYear;
        _formModel.General.RuntimeMinutes = Movie.RuntimeMinutes;
        _formModel.General.TitleType = Movie.TitleType;
        _formModel.General.Overview = Movie.Overview;

        if (Movie.Id != 0)
        {
            _originalGenres = await MovieSvc.GetMovieGenresByIdAsync(Movie.Id);
            _formModel.General.Genres = _allGenres.Where(g => _originalGenres.Any(og => og.Id == g.Id)).ToHashSet();
            var crewDtos = await MovieSvc.GetMovieCrewByMovieIdAsync(Movie.Id);
            _formModel.Crew.Crew = crewDtos.Select(c => new CrewMemberModel
            {
                Id = c.Id,
                FirstName = c.FirstName,
                LastName = c.LastName,
                BirthYear = c.BirthYear,
                DeathYear = c.DeathYear,
                Job = c.Job,
                CharacterName = c.CharacterName ?? ""
            }).ToList();
        }
        else
        {
            _formModel.General.Genres = new HashSet<Genre>();
            _formModel.Crew.Crew = new List<CrewMemberModel>();
            _originalGenres = new List<Genre>();
        }

        _poster = null;
        _uploadedFileStream = null;
        _formModel.General.Description = "";
        _selectedGenreToAdd = null;
        _selectedCrewToAdd = null;
    }
    
    private async Task Submit(string userId)
    {
        var validationResults = new List<ValidationResult>();
        bool isValid = Validator.TryValidateObject(_formModel.General, new ValidationContext(_formModel.General), validationResults, true);

        foreach (var crew in _formModel.Crew.Crew)
        {
            isValid &= Validator.TryValidateObject(crew, new ValidationContext(crew), validationResults, true);
        }

        if (!isValid)
        {
            foreach (var error in validationResults.DistinctBy(x => x.ErrorMessage))
            {
                Snackbar.Add(error.ErrorMessage, Severity.Error);
            }
            return;
        }

        var request = new MovieUpdateRequest
        {
            Movie_Id = Movie.Id != 0 ? Movie.Id : null
        };

        var changes = new List<string>();
        var hasChanges = false;

        if (_formModel.General.Title != Movie.Title)
        {
            request.NewTitle = _formModel.General.Title;
            changes.Add($"Title: {_formModel.General.Title}");
            hasChanges = true;
        }

        if (_formModel.General.OriginalTitle != Movie.OriginalTitle)
        {
            request.NewOriginalTitle = _formModel.General.OriginalTitle;
            changes.Add($"OriginalTitle: {_formModel.General.OriginalTitle}");
            hasChanges = true;
        }

        if (_formModel.General.StartYear != Movie.StartYear)
        {
            request.NewStartYear = _formModel.General.StartYear;
            changes.Add($"StartYear: {_formModel.General.StartYear}");
            hasChanges = true;
        }

        if (_formModel.General.EndYear != Movie.EndYear)
        {
            request.NewEndYear = _formModel.General.EndYear;
            changes.Add($"EndYear: {_formModel.General.EndYear}");
            hasChanges = true;
        }

        if (_formModel.General.RuntimeMinutes != Movie.RuntimeMinutes)
        {
            request.NewRuntimeMinutes = _formModel.General.RuntimeMinutes;
            changes.Add($"RuntimeMinutes: {_formModel.General.RuntimeMinutes}");
            hasChanges = true;
        }

        if (_formModel.General.TitleType != Movie.TitleType)
        {
            request.NewTitleType = _formModel.General.TitleType;
            changes.Add($"TitleType: {_formModel.General.TitleType}");
            hasChanges = true;
        }

        if (_formModel.General.Overview != Movie.Overview)
        {
            request.NewOverview = _formModel.General.Overview;
            changes.Add($"Overview: {_formModel.General.Overview}");
            hasChanges = true;
        }

        var selectedGenreIds = _formModel.General.Genres.Select(g => g.Id).OrderBy(id => id).ToList();
        var originalGenreIds = _originalGenres.Select(g => g.Id).OrderBy(id => id).ToList();

        if (!selectedGenreIds.SequenceEqual(originalGenreIds))
        {
            request.NewGenres = _formModel.General.Genres.ToList();
            changes.Add("Genres updated");
            hasChanges = true;
        }

        var newCrewList = _formModel.Crew.Crew.Select(c => new MovieUpdateRequestCrew
        {
            FirstName = c.FirstName,
            LastName = c.LastName,
            BirthYear = c.BirthYear,
            DeathYear = c.DeathYear,
            Job = c.Job,
            CharacterName = c.CharacterName,
            CrewId = c.Id != 0 ? c.Id : null
        }).ToList();

        var originalCrew = await MovieSvc.GetMovieCrewByMovieIdAsync(Movie.Id);

        bool crewChanged = false;
        if (_formModel.Crew.Crew.Count != originalCrew.Count)
        {
            crewChanged = true;
        }
        else
        {
            for (int i = 0; i < _formModel.Crew.Crew.Count; i++)
            {
                var c1 = _formModel.Crew.Crew[i];
                var match = originalCrew.FirstOrDefault(oc => 
                    oc.Id == c1.Id && 
                    oc.FirstName == c1.FirstName && 
                    oc.LastName == c1.LastName && 
                    oc.BirthYear == c1.BirthYear && 
                    oc.DeathYear == c1.DeathYear && 
                    oc.Job == c1.Job && 
                    (oc.CharacterName ?? "") == c1.CharacterName);
                if (match == null)
                {
                    crewChanged = true;
                    break;
                }
            }
        }

        if (crewChanged)
        {
            request.NewCrew = newCrewList;
            changes.Add("Crew updated");
            hasChanges = true;
        }

        if (_poster != null && _uploadedFileStream != null)
        {
            try
            {
                _uploadedFileStream.Position = 0;
                var newPosterFileName = await MovieSvc.UploadMoviePoster(Movie.Id, _uploadedFileStream, _poster.Name);

                request.NewPosterPath = newPosterFileName;
                changes.Add("Poster updated");
                hasChanges = true;
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                Snackbar.Add("Something went wrong with file upload. Please try again.", Severity.Error);
                return;
            }
        }

        if (!hasChanges)
        {
            Cancel();
            return;
        }

        request.Description = _formModel.General.Description;

        if (userId != null)
        {
            request.IdUser = userId;
            await MovieSvc.AddMovieUpdateRequest(request);
            Snackbar.Add("Movie request submitted successfully", Severity.Success);
            MudDialog.Close(DialogResult.Ok(true));
        }
    }

    private async Task OnGenreSelected(Genre genre)
    {
        if (genre == null) return;

        if (_formModel.General.Genres.All(g => g.Id != genre.Id))
        {
            _formModel.General.Genres.Add(genre);
        }

        _selectedGenreToAdd = null;
        await _autocomplete.ClearAsync();
    }

    private void RemoveGenre(Genre genre)
    {
        _formModel.General.Genres.Remove(genre);
    }

    private Task<IEnumerable<Genre>> SearchGenre(string genre, CancellationToken token)
    {
        var availableGenres = _allGenres.Where(z => _formModel.General.Genres.All(y => y.Id != z.Id));

        if (string.IsNullOrEmpty(genre))
        {
            return Task.FromResult(availableGenres.Take(10).OrderBy(x => x.Name).AsEnumerable());
        }

        return Task.FromResult(availableGenres.Where(x => x.Name.Contains(genre, StringComparison.InvariantCultureIgnoreCase)));
    }

    private async Task<IEnumerable<GetMovieCrewMemberWithDetails>> SearchCrew(string query, CancellationToken token)
    {
        if (string.IsNullOrEmpty(query))
        {
            return new List<GetMovieCrewMemberWithDetails>();
        }

        var results = await MovieSvc.SearchCrewAsync(query, Movie.Id != 0 ? Movie.Id : null);

        return results;
    }

    private void OnCrewSelected(GetMovieCrewMemberWithDetails crew)
    {
        if (crew == null) return;

        var newItem = new CrewMemberModel
        {
            Id = crew.Id,
            FirstName = crew.FirstName,
            LastName = crew.LastName,
            BirthYear = crew.BirthYear,
            DeathYear = crew.DeathYear,
            Job = crew.Job ?? "",
            CharacterName = crew.CharacterName ?? ""
        };

        _formModel.Crew.Crew.Add(newItem);

        _selectedCrewToAdd = null;
        BackupItem(newItem);
        StateHasChanged();
    }

    private void Cancel() => MudDialog.Cancel();
    
    
    private void ClearPoster()
    {
        _poster = null;
        StateHasChanged();
    }

    private async Task UploadPoster(IBrowserFile file)
    {
        long maxFileSize = 5 * 1024 * 1024;
        if (file.Size > maxFileSize)
        {
            Snackbar.Add("File is too large. Max size is 5MB.", Severity.Error);
            return;
        }
        try
        {
            _uploadedFileStream?.Dispose();
            _uploadedFileStream = new MemoryStream();
            await file.OpenReadStream(maxFileSize).CopyToAsync(_uploadedFileStream);
            _uploadedFileStream.Position = 0;
            _poster = file;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            Snackbar.Add("Failed to read file.", Severity.Error);
            _poster = null;
            _uploadedFileStream?.DisposeAsync();
            _uploadedFileStream = null;
        }
    }

    private void OnAddCrewMember()
    {
        _formModel.Crew.Crew.Add(new CrewMemberModel());
    }

    private void OnRemoveCrew(CrewMemberModel crew)
    {
        _formModel.Crew.Crew.Remove(crew);
        StateHasChanged();
    }

    private void AddEditionEvent(string message)
    {
        editEvents.Add(message);
        StateHasChanged();
    }

    private void ItemHasBeenCommitted(object element)
    {
        AddEditionEvent($"RowEditCommit event: Changes to Element {((CrewMemberModel)element).FirstName + " " + ((CrewMemberModel)element).LastName} committed");
    }

    private void BackupItem(object element)
    {
        _selectedCrewBeforeEdit = new()
        {
            FirstName = ((CrewMemberModel)element).FirstName,
            LastName = ((CrewMemberModel)element).LastName,
            BirthYear = ((CrewMemberModel)element).BirthYear,
            DeathYear = ((CrewMemberModel)element).DeathYear,
            Job = ((CrewMemberModel)element).Job,
            CharacterName = ((CrewMemberModel)element).CharacterName
        };
        AddEditionEvent($"RowEditPreview event: made a backup of Element {((CrewMemberModel)element).FirstName + " " + ((CrewMemberModel)element).LastName}");
    }

    private void ResetItemToOriginalValues(object element)
    {
        ((CrewMemberModel)element).FirstName = _selectedCrewBeforeEdit.FirstName;
        ((CrewMemberModel)element).LastName = _selectedCrewBeforeEdit.LastName;
        ((CrewMemberModel)element).BirthYear = _selectedCrewBeforeEdit.BirthYear;
        ((CrewMemberModel)element).DeathYear = _selectedCrewBeforeEdit.DeathYear;
        ((CrewMemberModel)element).Job = _selectedCrewBeforeEdit.Job;
        ((CrewMemberModel)element).CharacterName = _selectedCrewBeforeEdit.CharacterName;
        AddEditionEvent($"RowEditCancel event: Editing of Element {((CrewMemberModel)element).FirstName + " " + ((CrewMemberModel)element).LastName} canceled");
    }

    private EditForm _form = null!;
    
    public class MovieRequestFormModel
    {
        public GeneralMovieInfoModel General { get; set; } = new();
        public CrewInfoModel Crew { get; set; } = new();
    }

    public class GeneralMovieInfoModel
    {
        [Required(ErrorMessage = "Title is required")]
        [StringLength(1000, ErrorMessage = "Title cannot exceed 1000 characters")]
        public string Title { get; set; } = "";

        [StringLength(1000, ErrorMessage = "Original Title cannot exceed 1000 characters")]
        public string OriginalTitle { get; set; } = "";

        [Range(1880, 2100, ErrorMessage = "Start Year must be between 1880 and 2100")]
        [StartYearSmallerThanEndYearAttribute]
        public int? StartYear { get; set; }

        [Range(1880, 2100, ErrorMessage = "End Year must be between 1880 and 2100")]
        [StartYearSmallerThanEndYearAttribute]
        public int? EndYear { get; set; }

        [Required(ErrorMessage = "Runtime is required")]
        [Range(1, 10000, ErrorMessage = "Runtime must be between 1 and 10000 minutes")]
        public int? RuntimeMinutes { get; set; }

        [StringLength(50, ErrorMessage = "Type cannot exceed 50 characters")]
        public string TitleType { get; set; } = "";

        [Required(ErrorMessage = "Overview is required")]
        [StringLength(5000, ErrorMessage = "Overview cannot exceed 5000 characters")]
        public string Overview { get; set; } = "";

        [StringLength(1000, ErrorMessage = "Description cannot exceed 1000 characters")]
        public string Description { get; set; } = "";

        public HashSet<Genre> Genres { get; set; } = new();
    }

    public class CrewInfoModel
    {
        public List<CrewMemberModel> Crew { get; set; } = new();
    }

    public class CrewMemberModel
    {
        public int Id { get; set; }
        [Required(ErrorMessage = "First Name is required")]
        public string FirstName { get; set; } = "";
        [Required(ErrorMessage = "Last Name is required")]
        public string LastName { get; set; } = "";
        [BirthYearSmallerThanDeathYearAttribute]
        public int? BirthYear { get; set; }
        [BirthYearSmallerThanDeathYearAttribute]
        public int? DeathYear { get; set; }
        [Required(ErrorMessage = "Job is required")]
        public string Job { get; set; } = "";
        public string CharacterName { get; set; } = "";
    }

    public class StartYearSmallerThanEndYearAttribute : ValidationAttribute
    {
        protected override ValidationResult? IsValid(object? value, ValidationContext validationContext)
        {
            var model = (GeneralMovieInfoModel)validationContext.ObjectInstance;
            if (model.StartYear.HasValue && model.EndYear.HasValue && model.EndYear < model.StartYear)
            {
                return new ValidationResult("End year must be equal or bigger than start year");
            }
            return ValidationResult.Success;
        }
    }
    
    public class BirthYearSmallerThanDeathYearAttribute : ValidationAttribute
    {
        protected override ValidationResult? IsValid(object? value, ValidationContext validationContext)
        {
            var model = (CrewMemberModel)validationContext.ObjectInstance;
            if (model.BirthYear.HasValue && model.DeathYear.HasValue && model.DeathYear < model.BirthYear)
            {
                return new ValidationResult("Death year must be bigger than Birth year");
            }
            return ValidationResult.Success;
        }
    }
}