@using s20601.Data.Models
@using s20601.Data.Models.DTOs
@using s20601.Services
@using System.Security.Claims
@using System.IO

@inject IMovieService MovieSvc
@inject ISnackbar Snackbar

<AuthorizeView>
    <Authorized>
        @{
            var authenticatedUserId = context.User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "";
        }
        <MudDialog>
            <DialogContent>
                <MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors" Spacing="2">
                    <MudStepper @bind-ActiveIndex="_index" @ref="@_stepper">
                        <ChildContent>
                            <MudStep Title="Poster">

                                <MudStack Row="true" Style="width: 100%" AlignItems="AlignItems.Center">

                                    <MudFileUpload T="IBrowserFile" FilesChanged="@(UploadPoster)">
                                        <ActivatorContent>
                                            <MudButton Variant="Variant.Filled"
                                                       Color="Color.Primary">
                                                Upload your poster
                                            </MudButton>
                                        </ActivatorContent>
                                    </MudFileUpload>
                                    @if (_poster != null)
                                    {
                                        <MudChip T="string" Color="Color.Dark" OnClose="@ClearPoster">
                                            @(_poster?.Name)
                                        </MudChip>
                                    }
                                    else
                                    {
                                        <MudChip T="string">No poster uploaded yet</MudChip>
                                    }
                                </MudStack>
                            </MudStep>
                            
                            
                            <MudStep Title="General movie information">
                                <MudStack Spacing="2">
                                    <MudTextField @bind-Value="_title" Label="Title"/>
                                    <MudTextField @bind-Value="_originalTitle" Label="Original Title"/>
                                    <MudNumericField @bind-Value="_startYear" Label="Start Year"/>
                                    <MudNumericField @bind-Value="_endYear" Label="End Year"/>
                                    <MudNumericField @bind-Value="_runtimeMinutes" Label="Runtime (minutes)"/>
                                    <MudTextField @bind-Value="_titleType" Label="Type"/>

                                    <MudAutocomplete T="Genre" Label="Genres" @ref="_autocomplete" Value="_selectedGenreToAdd"
                                                     ValueChanged="OnGenreSelected" SearchFunc="@SearchGenre"
                                                     ToStringFunc="@(g => g?.Name)"
                                                     ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false">
                                        <ItemTemplate Context="genre">
                                            <MudText>
                                                @(genre.Name)
                                            </MudText>
                                        </ItemTemplate>
                                    </MudAutocomplete>
                                    <div class="d-flex flex-wrap mt-2">
                                        @foreach (var genre in _selectedGenres)
                                        {
                                            <MudChip T="Genre" OnClose="@(() => RemoveGenre(genre))">@genre.Name</MudChip>
                                        }
                                    </div>
                                    <MudTextField @bind-Value="_overview" Label="Overview" HelperText="What is this movie about? Remember - no spoilers!" Lines="3"/>
                                    <MudTextField @bind-Value="_description" Lines="2" Label="Request description"
                                                  HelperText="Sources on which you base proposed changes. It will help us verify your request faster!"/>

                                </MudStack>
                            </MudStep>

                            <MudStep Title="Crew">


                                <MudTable Items="@_crew" Hover="true" CanCancelEdit="true"
                                          @bind-SelectedItem="@_selectedCrew" SortLabel="Sort By"
                                          CommitEditTooltip="Commit Edit"
                                          OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))"
                                          RowEditPreview="@BackupItem" RowEditCancel="@ResetItemToOriginalValues"
                                          RowEditCommit="@ItemHasBeenCommitted" IsEditRowSwitchingBlocked="false"
                                          ApplyButtonPosition="TableApplyButtonPosition.End"
                                          EditButtonPosition="TableEditButtonPosition.End"
                                          EditTrigger="@TableEditTrigger.EditButton"
                                          Context="MudTableContext">
                                    <ToolBarContent>

                                        <MudStack Row="true" AlignItems="AlignItems.Baseline" Style="width: 100%">
                                            <MudText Typo="Typo.h6">Movie crew</MudText>
                                            <MudAutocomplete T="GetMovieCrewMemberWithDetails" Label="Search existing crew"
                                                             Value="_selectedCrewToAdd"
                                                             ValueChanged="OnCrewSelected" SearchFunc="@SearchCrew"
                                                             ToStringFunc="@(c => c == null ? null : $"{c.FirstName} {c.LastName} ({c.BirthYear})")"
                                                             ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false">
                                                <ItemTemplate Context="crew">
                                                    <MudText>
                                                        @($"{crew.FirstName} {crew.LastName} ({crew.BirthYear})")
                                                    </MudText>
                                                </ItemTemplate>
                                            </MudAutocomplete>
                                            <MudButton StartIcon="@Icons.Material.Filled.Add"
                                                       OnClick=@(() => OnAddCrewMember())>Add new crew member
                                            </MudButton>
                                        </MudStack>

                                    </ToolBarContent>
                                    <HeaderContent>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<GetMovieCrewMemberWithDetails, object>(x => x.FirstName)">
                                                FirstName
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<GetMovieCrewMemberWithDetails, object>(x => x.LastName)">LastName
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<GetMovieCrewMemberWithDetails, object>(x => x.BirthYear)">
                                                BirthYear
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<GetMovieCrewMemberWithDetails, object>(x => x.DeathYear)">
                                                DeathYear
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<GetMovieCrewMemberWithDetails, object>(x => x.Job)">Job
                                            </MudTableSortLabel>
                                        </MudTh>
                                        <MudTh>
                                            <MudTableSortLabel
                                                SortBy="new Func<GetMovieCrewMemberWithDetails, object>(x => x.CharacterName)">
                                                CharacterName
                                            </MudTableSortLabel>
                                        </MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="First Name">@MudTableContext.FirstName</MudTd>
                                        <MudTd DataLabel="Last Name">@MudTableContext.LastName</MudTd>
                                        <MudTd DataLabel="Birth Year">@MudTableContext.BirthYear</MudTd>
                                        <MudTd DataLabel="Death Year">@MudTableContext.DeathYear</MudTd>
                                        <MudTd DataLabel="Job">@MudTableContext.Job</MudTd>
                                        <MudTd DataLabel="Character Name">@MudTableContext.CharacterName</MudTd>
                                    </RowTemplate>
                                    <RowEditingTemplate>
                                        <MudTd DataLabel="First Name">
                                            <MudTextField @bind-Value="MudTableContext.FirstName"/>
                                        </MudTd>
                                        <MudTd DataLabel="Last Name">
                                            <MudTextField @bind-Value="MudTableContext.LastName"/>
                                        </MudTd>
                                        <MudTd DataLabel="Birth Year">
                                            <MudNumericField @bind-Value="MudTableContext.BirthYear"/>
                                        </MudTd>
                                        <MudTd DataLabel="Death Year">
                                            <MudNumericField @bind-Value="MudTableContext.DeathYear"/>
                                        </MudTd>
                                        <MudTd DataLabel="Job">
                                            <MudTextField @bind-Value="MudTableContext.Job"/>
                                        </MudTd>
                                        <MudTd DataLabel="Character Name">
                                            <MudTextField @bind-Value="MudTableContext.CharacterName"/>
                                        </MudTd>
                                    </RowEditingTemplate>
                                    <PagerContent>
                                        <MudTablePager/>
                                    </PagerContent>
                                    <EditButtonContent Context="button">
                                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0"
                                                       OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled"/>
                                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.DeleteOutline"
                                                       Class="pa-0"
                                                       OnClick="@(() => OnRemoveCrew((GetMovieCrewMemberWithDetails)button.Item))"
                                                       Disabled="@button.ButtonDisabled"/>
                                    </EditButtonContent>
                                </MudTable>
                            </MudStep>
                        </ChildContent>
                        <ConnectorTemplate Context="step">
                            <div class="mud-stepper-nav-connector">
                                @{
                                    int value = step.Completed ? 100 : 0;
                                    <MudProgressLinear Striped Value="value" Min="0" Max="100"
                                                       Color="Color.Primary"
                                                       Style="height: 2px; background-color: #d4ddeb; border-radius: 2px;"/>
                                }
                            </div>
                        </ConnectorTemplate>
                        <LabelTemplate Context="LabelTemplateContext">
                            @if (LabelTemplateContext.IsActive)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.EditLocationAlt" Color="Color.Primary"></MudIcon>
                            }
                        </LabelTemplate>
                        <ActionContent Context="stepper">
                            @if (!_completed)
                            {
                                if (_index != 0)
                                {
                                    <MudButton OnClick="@(() => stepper.PreviousStepAsync())"
                                               StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">
                                        Previous
                                    </MudButton>
                                }
                                <MudSpacer/>
                                @if (stepper.Steps[_index].Skippable == true)
                                {
                                    <MudButton OnClick="@(() => stepper.SkipCurrentStepAsync())"
                                               EndIcon="@stepper.SkipButtonIcon" Color="Color.Primary">Skip</MudButton>
                                }

                                @if (_index < stepper.Steps.Count - 1)
                                {
                                    <MudButton OnClick="@(() => stepper.NextStepAsync())"
                                               EndIcon="@Icons.Material.Filled.ArrowForward" Color="Color.Primary">Next</MudButton>
                                }
                            }
                        </ActionContent>
                    </MudStepper>
                </MudForm>
            </DialogContent>
            <DialogActions>
                <MudButton OnClick="@(Reset)">Reset</MudButton>
                <MudSpacer/>
                <MudButton OnClick="@Cancel">Cancel</MudButton>
                <MudButton Color="Color.Primary" OnClick="@(() => Submit(authenticatedUserId))">Submit</MudButton>
            </DialogActions>
        </MudDialog>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public Movie? Movie { get; set; }
    
    private bool _success;
    private string[] _errors = [];
    private MudForm _form;
    private MudStepper _stepper;
    private MudAutocomplete<Genre> _autocomplete;
    private int _index;
    private bool _completed;

    private string _title = "";
    private string _originalTitle = "";
    private int? _startYear;
    private int? _endYear;
    private int? _runtimeMinutes;
    private string _titleType = "";
    private string _description = "";
    private string _overview = "";


    private List<Genre> _allGenres = new();
    private HashSet<Genre> _selectedGenres = new();
    private List<Genre> _originalGenres = new();
    private Genre? _selectedGenreToAdd;
    
    
    private List<string> editEvents = new();
    private List<GetMovieCrewMemberWithDetails> _crew;
    private GetMovieCrewMemberWithDetails _selectedCrew;
    private GetMovieCrewMemberWithDetails _selectedCrewBeforeEdit;
    private MudTable<GetMovieCrewMemberWithDetails> _table;


    private GetMovieCrewMemberWithDetails? _selectedCrewToAdd;

    private IBrowserFile? _poster;
    private MudFileUpload<IBrowserFile>? _fileUpload;
    private MemoryStream? _uploadedFileStream;

    protected override async Task OnInitializedAsync()
    {
        _allGenres = await MovieSvc.GetAllGenresAsync();
        await LoadMovieDataAsync();
    }

    private async Task Reset()
    {
        await _form.ResetAsync();
        await _stepper.ResetAsync();
        await LoadMovieDataAsync();
    }

    private async Task LoadMovieDataAsync()
    {
        if (Movie is null)
        {
            Movie = new Movie();
        }

        _title = Movie.Title;
        _originalTitle = Movie.OriginalTitle;
        _startYear = Movie.StartYear;
        _endYear = Movie.EndYear;
        _runtimeMinutes = Movie.RuntimeMinutes;
        _titleType = Movie.TitleType;
        _overview = Movie.Overview;

        if (Movie.Id != 0)
        {
            _originalGenres = await MovieSvc.GetMovieGenresByIdAsync(Movie.Id);
            _selectedGenres = _allGenres.Where(g => _originalGenres.Any(og => og.Id == g.Id)).ToHashSet();
            _crew = await MovieSvc.GetMovieCrewByMovieIdAsync(Movie.Id);
        }
        else
        {
            _selectedGenres = new HashSet<Genre>();
            _crew = new List<GetMovieCrewMemberWithDetails>();
            _originalGenres = new List<Genre>();
        }

        _poster = null;
        _uploadedFileStream = null;
        _description = "";
        _selectedGenreToAdd = null;
        _selectedCrewToAdd = null;
    }
    
    private async Task Submit(string userId)
    {
        var request = new MovieUpdateRequest
        {
            Movie_Id = Movie.Id != 0 ? Movie.Id : null
        };

        var changes = new List<string>();
        var hasChanges = false;

        if (_title != Movie.Title)
        {
            request.NewTitle = _title;
            changes.Add($"Title: {_title}");
            hasChanges = true;
        }

        if (_originalTitle != Movie.OriginalTitle)
        {
            request.NewOriginalTitle = _originalTitle;
            changes.Add($"OriginalTitle: {_originalTitle}");
            hasChanges = true;
        }

        if (_startYear != Movie.StartYear)
        {
            request.NewStartYear = _startYear;
            changes.Add($"StartYear: {_startYear}");
            hasChanges = true;
        }

        if (_endYear != Movie.EndYear)
        {
            request.NewEndYear = _endYear;
            changes.Add($"EndYear: {_endYear}");
            hasChanges = true;
        }

        if (_runtimeMinutes != Movie.RuntimeMinutes)
        {
            request.NewRuntimeMinutes = _runtimeMinutes;
            changes.Add($"RuntimeMinutes: {_runtimeMinutes}");
            hasChanges = true;
        }

        if (_titleType != Movie.TitleType)
        {
            request.NewTitleType = _titleType;
            changes.Add($"TitleType: {_titleType}");
            hasChanges = true;
        }

        if (_overview != Movie.Overview)
        {
            request.NewOverview = _overview;
            changes.Add($"Overview: {_overview}");
            hasChanges = true;
        }

        var selectedGenreIds = _selectedGenres.Select(g => g.Id).OrderBy(id => id).ToList();
        var originalGenreIds = _originalGenres.Select(g => g.Id).OrderBy(id => id).ToList();

        if (!selectedGenreIds.SequenceEqual(originalGenreIds))
        {
            request.NewGenres = _selectedGenres.ToList();
            changes.Add("Genres updated");
            hasChanges = true;
        }

        var newCrewList = _crew.Select(c => new MovieUpdateRequestCrew
        {
            FirstName = c.FirstName,
            LastName = c.LastName,
            BirthYear = c.BirthYear,
            DeathYear = c.DeathYear,
            Job = c.Job,
            CharacterName = c.CharacterName,
            CrewId = c.Id != 0 ? c.Id : null
        }).ToList();

        var originalCrew = await MovieSvc.GetMovieCrewByMovieIdAsync(Movie.Id);

        bool crewChanged = false;
        if (_crew.Count != originalCrew.Count)
        {
            crewChanged = true;
        }
        else
        {
            for (int i = 0; i < _crew.Count; i++)
            {
                var c1 = _crew[i];
                var match = originalCrew.FirstOrDefault(oc => oc.Id == c1.Id && oc.FirstName == c1.FirstName && oc.LastName == c1.LastName && oc.BirthYear == c1.BirthYear && oc.DeathYear == c1.DeathYear && oc.Job == c1.Job && oc.CharacterName == c1.CharacterName);
                if (match == null)
                {
                    crewChanged = true;
                    break;
                }
            }
        }

        if (crewChanged)
        {
            request.NewCrew = newCrewList;
            changes.Add("Crew updated");
            hasChanges = true;
        }

        if (_poster != null && _uploadedFileStream != null)
        {
            try
            {
                _uploadedFileStream.Position = 0;
                var newPosterFileName = await MovieSvc.UploadMoviePoster(Movie.Id, _uploadedFileStream, _poster.Name);

                request.NewPosterPath = newPosterFileName;
                changes.Add("Poster updated");
                hasChanges = true;
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                Snackbar.Add("Something went wrong with file upload. Please try again.", Severity.Error);
                return;
            }
        }

        if (!hasChanges)
        {
            Cancel();
            return;
        }

        request.Description = _description;

        if (userId != null)
        {
            request.IdUser = userId;
            await MovieSvc.AddMovieUpdateRequest(request);
            Snackbar.Add("Movie request submitted successfully", Severity.Success);
            MudDialog.Close(DialogResult.Ok(true));
        }
    }

    private async Task OnGenreSelected(Genre genre)
    {
        if (genre == null) return;

        if (_selectedGenres.All(g => g.Id != genre.Id))
        {
            _selectedGenres.Add(genre);
        }

        _selectedGenreToAdd = null;
        await _autocomplete.ClearAsync();
    }

    private void RemoveGenre(Genre genre)
    {
        _selectedGenres.Remove(genre);
    }

    private Task<IEnumerable<Genre>> SearchGenre(string genre, CancellationToken token)
    {
        var availableGenres = _allGenres.Where(z => _selectedGenres.All(y => y.Id != z.Id));

        if (string.IsNullOrEmpty(genre))
        {
            return Task.FromResult(availableGenres.Take(10).OrderBy(x => x.Name).AsEnumerable());
        }

        return Task.FromResult(availableGenres.Where(x => x.Name.Contains(genre, StringComparison.InvariantCultureIgnoreCase)));
    }

    private async Task<IEnumerable<GetMovieCrewMemberWithDetails>> SearchCrew(string query, CancellationToken token)
    {
        if (string.IsNullOrEmpty(query))
        {
            return new List<GetMovieCrewMemberWithDetails>();
        }

        var results = await MovieSvc.SearchCrewAsync(query, Movie.Id != 0 ? Movie.Id : null);

        return results;
    }

    private void OnCrewSelected(GetMovieCrewMemberWithDetails crew)
    {
        if (crew == null) return;

        var newItem = new GetMovieCrewMemberWithDetails
        {
            Id = crew.Id,
            FirstName = crew.FirstName,
            LastName = crew.LastName,
            BirthYear = crew.BirthYear,
            DeathYear = crew.DeathYear,
            Job = crew.Job ?? "",
            CharacterName = crew.CharacterName ?? ""
        };

        _crew.Add(newItem);

        _selectedCrewToAdd = null;
        BackupItem(newItem);
        StateHasChanged();
    }

    private void Cancel() => MudDialog.Cancel();
    
    
    private void ClearPoster()
    {
        _poster = null;
        StateHasChanged();
    }

    private async Task UploadPoster(IBrowserFile file)
    {
        long maxFileSize = 5 * 1024 * 1024;
        if (file.Size > maxFileSize)
        {
            Snackbar.Add("File is too large. Max size is 5MB.", Severity.Error);
            return;
        }
        try
        {
            _uploadedFileStream?.Dispose();
            _uploadedFileStream = new MemoryStream();
            await file.OpenReadStream(maxFileSize).CopyToAsync(_uploadedFileStream);
            _uploadedFileStream.Position = 0;
            _poster = file;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            Snackbar.Add("Failed to read file.", Severity.Error);
            _poster = null;
            _uploadedFileStream?.DisposeAsync();
            _uploadedFileStream = null;
        }
    }

    private void OnAddCrewMember()
    {
        _crew.Add(new GetMovieCrewMemberWithDetails());
    }

    private void OnRemoveCrew(GetMovieCrewMemberWithDetails crew)
    {
        _crew.Remove(crew);
        StateHasChanged();
    }

    private void AddEditionEvent(string message)
    {
        editEvents.Add(message);
        StateHasChanged();
    }

    private void ItemHasBeenCommitted(object element)
    {
        AddEditionEvent($"RowEditCommit event: Changes to Element {((GetMovieCrewMemberWithDetails)element).FirstName + " " + ((GetMovieCrewMemberWithDetails)element).LastName} committed");
    }

    private void BackupItem(object element)
    {
        _selectedCrewBeforeEdit = new()
        {
            FirstName = ((GetMovieCrewMemberWithDetails)element).FirstName,
            LastName = ((GetMovieCrewMemberWithDetails)element).LastName,
            BirthYear = ((GetMovieCrewMemberWithDetails)element).BirthYear,
            DeathYear = ((GetMovieCrewMemberWithDetails)element).DeathYear,
            Job = ((GetMovieCrewMemberWithDetails)element).Job,
            CharacterName = ((GetMovieCrewMemberWithDetails)element).CharacterName
        };
        AddEditionEvent($"RowEditPreview event: made a backup of Element {((GetMovieCrewMemberWithDetails)element).FirstName + " " + ((GetMovieCrewMemberWithDetails)element).LastName}");
    }

    private void ResetItemToOriginalValues(object element)
    {
        ((GetMovieCrewMemberWithDetails)element).FirstName = _selectedCrewBeforeEdit.FirstName;
        ((GetMovieCrewMemberWithDetails)element).LastName = _selectedCrewBeforeEdit.LastName;
        ((GetMovieCrewMemberWithDetails)element).BirthYear = _selectedCrewBeforeEdit.BirthYear;
        ((GetMovieCrewMemberWithDetails)element).DeathYear = _selectedCrewBeforeEdit.DeathYear;
        ((GetMovieCrewMemberWithDetails)element).Job = _selectedCrewBeforeEdit.Job;
        ((GetMovieCrewMemberWithDetails)element).CharacterName = _selectedCrewBeforeEdit.CharacterName;
        AddEditionEvent($"RowEditCancel event: Editing of Element {((GetMovieCrewMemberWithDetails)element).FirstName + " " + ((GetMovieCrewMemberWithDetails)element).LastName} canceled");
    }

}
